# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary uploads & outputs
uploads/*
!uploads/.gitkeep
output/*
!output/.gitkeep

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini
